.courseCard {
  margin-bottom: 20px;
  width: 650px;
}

.gridRoot {
  flexGrow: 1;
}

.fullCalendar{
  width: 50%;
  height: 40%;
  margin: auto;
}

.navButtons{
  margin-left: 25%;
}

.cardHead {
  background-color: #92dbfa;
}

.plusButton {
  margin-bottom: 20px;
  width: 650px;
  height: 510px;
  color: gray;
  border: none;
  font-size: 50px;
  margin-right: 6%;
}
